.settingsModule :global(th),
.settingsModule :global(td) {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

.settingsModule .custom-table :global(.ant-table-cell) {
  border-bottom: none !important;
}
